#btnCustomerSave{
    width: 6%;
    border-radius: 30px;
}
#btnCustomerupdate{
    width: 6%;
    border-radius: 30px;
}
#btnCustomerDelete{
    width: 6%;
    border-radius: 30px;
}
#btnCustomerSearch{
    width: 6%;
    border-radius: 30px;
}