#btnDriverSave{
    width: 6%;
    border-radius: 30px;
}
#btnDriverupdate{
    width: 6%;
    border-radius: 30px;
}
#btnDriverDelete{
    width: 6%;
    border-radius: 30px;
}
#btnDriverSearch{
    width: 6%;
    border-radius: 30px;
}